# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Streamlit secrets
.streamlit/secrets.toml

# Large model files (if you had them)
# *.joblib
# *.pkl

# IDE settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Optional: Ignore temp notebooks
notebooks/Untitled.ipynb